#navgation {
  background-color: transparent;
}

#navgation .navbar {
  padding: 16px;
}

#navgation .navbar .nav-module img {
  height: 33px;
}

#navgation .navbar .nav-moon {
  text-align: right;
  margin-left: 1000px;
}

#navgation .navbar .nav-moon .logo {
  max-height: 40%;
  margin: 0;
}

#navgation .navbar .navbar-nav .nav-link {
  color: #fff;
}

#navgation .navbar .nav-function {
  color: #fff;
  margin: 6px;
}

#navgation .navbar .nav-function span {
  display: none;
}

#pillar {
  background: url("../image/hero1.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}

#pillar::before {
  content: "";
  position: absolute;
  background: #232323;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.3;
}

#pillar .brand {
  z-index: 2;
  position: absolute;
}

#pillar .brand .logo {
  margin-top: 280px;
  margin-left: 164px;
  height: 132px;
}

#pillar .brand .lead {
  margin-top: 325px;
  font-size: 28px;
  color: #fff;
  font-weight: 300;
  margin-left: 42px;
}

#pillar .btn {
  width: 280px;
  height: 53px;
  position: absolute;
  z-index: 4;
  margin-top: 420px;
  margin-right: 15px;
  top: 50px;
  right: 450px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  border-radius: 100px;
  border-color: #425CBB;
  background-color: #425CBB;
  padding: 14px;
}

#pillar .btn span {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: 600;
}

#pillar .list-items {
  position: absolute;
  top: 290px;
  left: 410px;
  margin-top: 350px;
}

#pillar .list-items li {
  margin-right: 45px;
}

#pillar .list-items li a i {
  position: absolute;
  z-index: 3;
  font-size: 30px;
  color: #b1adad;
}

#pillar .list-items li a i:hover {
  content: "";
  color: #fff;
}

#delivered {
  padding: 100px 0;
}

#delivered .delivered-327 h3 {
  font-weight: 600;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 2em;
  line-height: 1.7em;
  color: #343434;
}

#delivered .delivered-327 p {
  color: #767676;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: 400;
}

#digital {
  padding: 50px 0;
}

#digital .list-items li {
  width: 80px;
  margin-right: 30px;
  cursor: pointer;
  text-transform: capitalize;
  font-style: italic;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  color: #cfcfcf;
  font-weight: 400;
}

#digital .list-items li:hover {
  content: "";
  color: #767676;
}

#digital .category-item {
  position: relative;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#digital .category-item .overley {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: right;
}

#digital .category-item .overley p {
  position: relative;
  right: 20px;
  top: 15px;
  padding: 5px;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  font-style: italic;
}

#digital .category-item .overley h6 {
  position: relative;
  right: 20px;
  top: 15px;
  padding: 5px;
  font-weight: 600;
}

#digital .category-item:hover .overley {
  opacity: 1;
  -webkit-transition: all .6s;
  transition: all .6s;
}

#creative {
  padding: 100px 0;
}

#creative .delivered-327 h3 {
  font-weight: 600;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 2em;
  line-height: 1.7em;
  color: #343434;
}

#creative .delivered-327 p {
  color: #767676;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: 400;
}

#pictures {
  padding: 100px 0;
}

#pictures .category-item {
  position: relative;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#pictures .category-item .overley {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: right;
}

#pictures .category-item .overley p {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 43%;
  font-size: 12px;
}

#pictures .category-item .overley h6 {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 43%;
}

#pictures .category-item .overley .list-items {
  margin-top: 341px;
  margin-right: 129px;
}

#pictures .category-item .overley .list-items a {
  text-decoration: none;
  color: white !important;
}

#pictures .category-item .overley .list-items a i {
  color: white !important;
}

#pictures .category-item:hover .overley {
  opacity: 1;
  -webkit-transition: all .6s;
  transition: all .6s;
}

#customer {
  background-image: url("../image/hero2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 100px 0px;
  position: relative;
}

#customer::before {
  content: "";
  position: absolute;
  background: #232323;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.7;
}

#customer .customer-1 {
  z-index: 2;
  position: absolute;
  margin-left: 88px;
}

#customer .customer-1 i {
  font-size: 4em;
}

#customer .customer-1 h3 {
  font-weight: 600;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 2em;
  line-height: 1.7em;
  color: #fff;
  padding: 10px;
}

#customer .customer-1 h5 {
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
}

#expertise {
  padding: 100px 0;
}

#expertise .delivered-327 h3 {
  font-weight: 600;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 2em;
  line-height: 1.7em;
  color: #343434;
}

#expertise .delivered-327 p {
  color: #767676;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: 400;
}

#expertise .draw {
  padding: 30px;
}

#expertise .draw .interface__left {
  float: left;
  margin-right: 27px;
}

#expertise .draw .interface__left i {
  font-size: 40px;
  color: #425cbb;
}

#expertise .draw .interfaction__right {
  float: left;
}

#expertise .draw .interfaction__right h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 2.36363636363636em;
  color: #767676;
}

#expertise .draw .interfaction__right p {
  color: #767676;
}

#expertise .drop {
  margin-bottom: 91px;
}

#gibson {
  position: relative;
  overflow: hidden;
  padding-bottom: 0;
  padding-top: 0;
}

#gibson::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: -80px;
  background: #f4f4f4;
}

#gibson .zabrat {
  margin-top: 182px;
}

#gibson .zabrat p {
  font-size: 21px;
  line-height: 40px;
  font-style: italic;
  margin-bottom: 50px;
  color: #767676;
}

#gibson .zabrat h5 {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  color: #343434;
  font-weight: 600;
}

#gibson .zabrat h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
}

#news {
  padding: 100px 0;
}

#news .delivered-327 h3 {
  font-weight: 600;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 2em;
  line-height: 1.7em;
  color: #343434;
}

#news .delivered-327 p {
  color: #767676;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: 400;
}

#news a {
  text-decoration: none;
  color: #232323;
}

#news h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 10px;
}

#news .card-text {
  height: 4.875em;
  margin-bottom: 1.625em;
}

#news .card-text h5 {
  font-weight: 400;
}

#news .card-smith span {
  font-size: 0.625em;
  font-style: italic;
  display: inline-block;
  color: #767676;
}

#news .drop {
  margin-bottom: 96px;
}

#news .btn {
  margin-top: 60px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  border-color: #343434;
  border-radius: 100px;
  padding-top: 9px;
  padding-bottom: 11px;
  padding-right: 50px;
  padding-left: 50px;
  border: 1px solid #767676;
  border-width: 2px;
  font-size: inherit;
  line-height: 25px;
  text-transform: uppercase;
}

#news .btn:hover {
  border-color: black;
}

#news .btn .btn-text {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}

#working {
  background-color: #425cbb;
  text-align: center;
  height: 160px;
}

#working .work {
  margin-top: 67px;
}

#working .work h4 {
  margin: 0;
  display: inline-block;
  position: relative;
  top: 3px;
  white-space: nowrap;
  color: #fff;
}

#working .work a {
  text-decoration: none;
  margin-left: 1.625em;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  padding: 14px;
  padding-right: 30px;
  padding-left: 30px;
}

#working .work a:hover {
  border-color: #fff;
}

#working .work span {
  color: #fff;
  letter-spacing: 1px;
}

#End {
  background-color: #232323;
}

#End img {
  height: 33px;
  margin-top: 30px;
}

#End a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.1);
}

#End a:hover {
  color: #fff;
}

#End h5 {
  color: white;
}

#End p {
  color: #f5f5f5;
  opacity: 0.9;
}

#End p a {
  color: white;
}

#End h6 {
  color: #f5f5f5;
  height: 33px;
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 0.625em;
  line-height: 2.6em;
}

#End span {
  margin-left: -40px;
  margin-top: 10px;
}

#End .btn {
  background-color: #425cbb;
  border-radius: 0 50px 50px 0;
  position: relative;
  height: 51px;
  margin-top: -6px;
}

#End input {
  border-radius: 100px;
  border-radius: 50px 0 0 50px;
  padding-left: 1.625em;
  height: 51px;
}

#End .instagram {
  margin-left: -39px;
}

#End .instagram i {
  color: #6c757d;
}

#End .instagram i:hover {
  color: white;
}

#End .son .text-end {
  margin-top: 5%;
  word-spacing: -4px;
  color: #6c757d;
}

#End .son a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #3D3D3D;
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 4;
  bottom: 25px;
  padding-top: 12px;
}

#End .son a i {
  color: white;
  font-size: 27px;
}

#About {
  padding: 100px 0;
  background-image: url("../image/hero5.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 70vh;
}

#About .margin-327 h3 {
  font-weight: 600;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 2em;
  line-height: 1.7em;
  color: #fff;
}

#About .margin-327 p {
  color: #fff;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: 400;
}

#card {
  padding: 100px 0;
  position: relative;
  bottom: 200px;
}

#card .card .card__icon {
  background: #F4F4F4;
  padding: 78px 0;
  text-align: center;
}

#card .card .card__icon i {
  font-size: 64px;
  text-align: center;
  color: #6c757d;
}

#card .card .card__body {
  position: relative;
  overflow: hidden;
  padding: 39px;
  background: #fff;
}

#card .card .card__body .card__title {
  margin-bottom: 13px;
  line-height: 26px;
  font-size: 16px;
}

#card .card .card__body .card__title h5 {
  font-size: 16px;
  line-height: 26px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  color: #232323;
}

#card .card .card__body p {
  margin-top: 26px;
  color: #767676;
  margin-bottom: 26px;
  font-size: 16px;
  line-height: 26px;
}

#what {
  background-image: url("../image/hero8.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 50vh;
}

#what h4 {
  margin-top: 110px;
  margin-bottom: 26px;
  font-size: 1.5rem;
  color: #fff;
}

#what a {
  border-radius: 100px;
  padding: 10px;
  width: 230px;
  background-color: #425cbb;
  border-color: #425cbb;
}

#make {
  padding: 100px 0;
  background-image: url("../image/hero16.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 70vh;
  position: relative;
}

#make::before {
  content: "";
  position: absolute;
  background: #232323;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.7;
}

#make .corona-327 {
  position: absolute;
  z-index: 2;
  margin-top: 70px;
  margin-left: 60px;
}

#make .corona-327 h3 {
  font-weight: 600;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 2em;
  line-height: 1.7em;
  color: #fff;
}

#make .corona-327 p {
  color: #fff;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: 400;
}

#owl-corusel {
  height: 210px;
  background: #f4f4f4;
}

#owl-corusel .item {
  margin-top: 70px;
  padding: 30px;
}

#owl-corusel .item img {
  max-height: 1.625em;
  opacity: .3;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */