#navgation {
  position: fixed;
  background-color: transparent;
}

#navgation .navbar {
  padding: 16px;
}

#navgation .navbar .nav-module img {
  height: 33px;
}

#navgation .navbar .nav-moon {
  text-align: right;
  margin-left: 1000px;
}

#navgation .navbar .nav-moon .logo {
  max-height: 40%;
  margin: 0;
}

#navgation .navbar .navbar-nav .nav-link {
  color: #fff;
}

#navgation .navbar .nav-function {
  color: #fff;
  margin: 6px;
}

#navgation .navbar .nav-function span {
  display: none;
}

#pillar {
  background: url("../image/hero1.jpg");
  height: 100vh;
}

#pillar .logo {
  margin-top: 280px;
  margin-left: 164px;
  height: 132px;
}

#pillar .lead {
  margin-top: 325px;
  font-size: 28px;
  color: #fff;
  font-weight: 300;
}

#pillar .btn {
  position: absolute;
  top: 50px;
  right: 450px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  border-radius: 100px;
  border-color: #425CBB;
  background-color: #425CBB;
}

#pillar .btn span {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: 600;
}

#pillar .list-items {
  position: absolute;
  top: 290px;
  left: 415px;
}

#pillar .list-items li {
  margin-right: 45px;
}

#pillar .list-items li a i {
  font-size: 30px;
  color: #b1adad;
}

#pillar .list-items li a i:hover {
  content: "";
  color: #fff;
}

#delivered {
  padding: 100px 0;
}

#delivered .delivered-327 h3 {
  font-weight: 600;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 2em;
  line-height: 1.7em;
  color: #343434;
}

#delivered .delivered-327 p {
  color: #767676;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: 400;
}

#digital {
  padding: 50px 0;
}

#digital .list-items li {
  width: 80px;
  margin-right: 30px;
  cursor: pointer;
  text-transform: capitalize;
  font-style: italic;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  color: #cfcfcf;
  font-weight: 400;
}

#digital .list-items li:hover {
  content: "";
  color: #767676;
}

#digital .category-item {
  position: relative;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#digital .category-item .overley {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: right;
}

#digital .category-item .overley p {
  position: relative;
  right: 20px;
  top: 15px;
  padding: 5px;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  font-style: italic;
}

#digital .category-item .overley h6 {
  position: relative;
  right: 20px;
  top: 15px;
  padding: 5px;
  font-weight: 600;
}

#digital .category-item:hover .overley {
  opacity: 1;
  -webkit-transition: all .6s;
  transition: all .6s;
}

#creative {
  padding: 100px 0;
}

#creative .delivered-327 h3 {
  font-weight: 600;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 2em;
  line-height: 1.7em;
  color: #343434;
}

#creative .delivered-327 p {
  color: #767676;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: 400;
}

#pictures {
  padding: 100px 0;
}

#pictures .category-item {
  position: relative;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#pictures .category-item .overley {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: right;
}

#pictures .category-item .overley p {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 43%;
  font-size: 12px;
}

#pictures .category-item .overley h6 {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 43%;
}

#pictures .category-item .overley .list-items {
  margin-top: 341px;
  margin-right: 129px;
}

#pictures .category-item .overley .list-items ul .list-inline-item a {
  color: white;
}

#pictures .category-item .overley .list-items ul .list-inline-item a i {
  color: white !important;
}

#pictures .category-item:hover .overley {
  opacity: 1;
  -webkit-transition: all .6s;
  transition: all .6s;
}

#customer {
  background-image: url("../image/hero2.jpg");
  top: 0;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 100px 0px;
  opacity: 0.7;
}

#customer .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

#customer .customer-1 i {
  font-size: 4em;
}

#customer .customer-1 h3 {
  font-weight: 600;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 2em;
  line-height: 1.7em;
  color: #fff;
  padding: 10px;
}

#customer .customer-1 h5 {
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
}

#customer .parallax {
  overflow: hidden;
  will-change: contents;
}

#customer html, #customer body {
  min-height: 100%;
}

#customer body {
  position: relative;
}

#customer .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(32, 27, 27, 0.5);
  /*dim the background*/
}

#expertise {
  padding: 100px 0;
}

#expertise .delivered-327 h3 {
  font-weight: 600;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 2em;
  line-height: 1.7em;
  color: #343434;
}

#expertise .delivered-327 p {
  color: #767676;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: 400;
}

#expertise .draw {
  padding: 30px;
}

#expertise .draw .interface__left {
  float: left;
  margin-right: 27px;
}

#expertise .draw .interface__left i {
  font-size: 40px;
  color: #425cbb;
}

#expertise .draw .interfaction__right {
  float: left;
}

#expertise .draw .interfaction__right h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 2.36363636363636em;
  color: #767676;
}

#expertise .draw .interfaction__right p {
  color: #767676;
}

#expertise .drop {
  margin-bottom: 91px;
}
/*# sourceMappingURL=style.css.map */