#pillar{
    background: url("../image/hero1.jpg");
    height: 100vh;
    
    
    .logo{
        margin-top: 280px;
        margin-left: 164px;
        height: 132px;
    }
    .lead{
        margin-top: 325px;
        font-size: 28px;
        color: $primary-color;
        font-weight: 300;
    }
    .btn{
        position: absolute;
        top: 50px;
        right: 450px;
        font-family: $font-f;
        border-radius: 100px;
        border-color: #425CBB;
        background-color: #425CBB ;
      
        span{
            padding-top: 5px;
            padding-bottom: 5px;
            padding-right: 10px;
            padding-left: 10px;
            font-weight: 600;
        }
    }
    .list-items{
        position: absolute;
        top: 290px;
        left: 415px;
        li{
            margin-right: 45px;
            a{
                i{
                    font-size: 30px;
                    color: rgb(177, 173, 173);
                    &:hover{
                        content: "";
                        color: $primary-color;
                    }
                }
            }
        }
    }
    

}
