#shopcard{
    .shop-327{
        padding: 200px 0;
        margin-top: 70px;
        margin-left: 60px;
        h1{
         font-weight: 800;
         font-size: 55px;
         opacity: .8;
         line-height:85px;
         font-family: $font-f;
         color: black;
        }
        p{
         color: black;
         opacity: .5;
         font-family:$text-font-family;
         font-size: $text-font-size;
         line-height: $text-line-height;
         font-weight: $helper-font-weight;
        }
    }
}