$primary-color: #fff;
$secondary-color:#425cbb;
$text-color: #767676;
$heading-color:#343434;
$text-font-family:  'Lora', 'Helvetica', 'Arial', sans-serif;
$heading3-fontSize: 2em;
$font-f: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
$text-font-weight:600;
$text-line-height:1.7em;
$text-font-size:1.5em;
$helper-font-weight:400;
